extends layout.pug

block styles
    link(rel='stylesheet', href='/css/error.css')

block content
    .container
        p
            b= code
        p
            span.mute= message
        if code === '404'
            a(href="https://pole-chat.herokuapp.com/") Home
