extends layout.pug

block styles
    style.
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        body {
            font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
            line-height: 1.45;
            height: 100%;
            text-rendering: optimizeLegibility;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .spinner__container {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: white;
            z-index: 9;
        }

        .spinner__container--disabled {
            opacity: 0;
            -webkit-transition: opacity 200ms;
                    transition: opacity 200ms;
        }

        .spinner {
            width: 40px;
            height: 40px;
            position: relative;
            margin: 0 auto;
            top: 50%;
            margin-top: -20px;
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #3498db;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;

            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
                    animation: sk-bounce 2.0s infinite ease-in-out;
        }

        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
                    animation-delay: -1.0s;
        }

        @-webkit-keyframes sk-bounce {
            0%, 100% { -webkit-transform: scale(0.0) }
            50% { -webkit-transform: scale(1.0) }
        }

        @keyframes sk-bounce {
            0%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            } 50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }

        .login-wrapper {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 7;
            position: fixed;
            top: 0;
        }

        .login-wrapper--disabled {
            opacity: 0;
            pointer-events: none;
            -webkit-transition: opacity 200ms;
                    transition: opacity 200ms;
        }

        .login {
            max-width: 440px;
            width: 95%;
            padding: 2.5em;
            margin: 0 auto;
            background: white;
            border-radius: 0.45em;
            position: relative;
            top: 20%;
        }

        .login label, .login input {
            display: block;
        }

        .login label {
            margin-bottom: 0.5em;
            color: #666;
        }

        .input-wrapper {
            position: relative;
        }

        .err {
            margin-bottom: 0.5em;
            display: none;
            padding: 0.5em 1em;
            box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
            color: #9f3a38;
            background: #fff6f6;
            border-radius: 0.25em;
        }

        .err b {
            display: block;
            margin-bottom: 0.1em;
        }

        .login input {
            padding: 0.5em 7.5em 0.5em 0.5em;
            width: 100%;
            border-radius: 0.25em;
            margin-bottom: 0.5em;
            border: 1px solid #DDD;
        }

        .login button {
            background: #3498db;
            color: white;
            border: none;
            border-radius: 0 0.25em 0.25em 0;
            cursor: pointer;
            padding: 0 1.5em;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            -webkit-transition: 180ms all;
                    transition: 180ms all;
        }

        .login button:hover, .login button:focus {
            background: #2f90d2;
        }

        .login button:focus {
            outline: none;
        }

        .login button:active {
            background: #308dcc;
        }

        .login button, .login input {
            font: inherit;
        }

        input:focus {
            outline: none;
        }

        button:active {
            outline: none;
        }

        .container {
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            position: relative;
        }

        header {
            width: 100%;
            text-align: left;
            position: fixed;
            padding: 1em 20px;
            top: 0;
            background: white;
            z-index: 3;
            color: #666;
            border-bottom: 1px solid #DDD;
        }

        header > span {
            cursor: pointer;
        }

        b {
            font-weight: 600;
        }

        header .pull {
            position: absolute;
            right: 20px;
        }

        header .pull:hover {
            text-decoration: underline;
        }

        .users-online {
            width: 200px;
            height: 100%;
            background: #3A3A3A;
            color: #DCDCDC;
            position: fixed;
            right: 0;
            z-index: 5;
            -webkit-transform: translateX(100%);
                    transform: translateX(100%);
            -webkit-transition: all 130ms cubic-bezier(0,0,0.3,1);
                    transition: all 130ms cubic-bezier(0,0,0.3,1);
            will-change: transform;
        }

        .users-online.users-online--visible {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
            -webkit-transition: all 330ms cubic-bezier(0,0,0.3,1);
                    transition: all 330ms cubic-bezier(0,0,0.3,1);
        }

        .users-online div {
            padding: 1em 0 1em 1em;
        }

        .users-online .me {
            background: #444;
            display: none;
        }

        .users-online > div:first-child {
            padding-left: 0;
            text-align: center;
            position: relative;
        }

        .users-online .me:after {
            content: "Me";
            font-size: 0.75em;
            opacity: 0.5;
            margin-left: 1em;
        }

        .close {
            fill: #DCDCDC;
            -webkit-transition: transform 200ms;
                    transition: transform 200ms;
            cursor: pointer;
            position: absolute;
            top: 1em;
            right: 0.5em;
            height: 1.3em;
            width: 1.3em;
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }

        .close:hover {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }

        .chatbox {
            padding: 45px 20px 59px;
            list-style-type: none;
        }

        li {
            margin-top: 1em;
        }

        .bubble {
            background: #D6D6D6;
            border-radius: 1.3em;
            padding: 6px 12px;
            color: black;
            display: inline-block;
            max-width: 70%;
            margin: 1px 0;
        }

        .mine {
            text-align: right;
        }

        .mine .bubble {
            text-align: left;
            background: #3498db;
            color: white;
        }

        .notice {
            background: none;
            color: #999;
            text-align: center;
            width: 100%;
            max-width: 100%;
            padding: 0;
        }

        .user {
            color: #3498db;
        }

        .time, .name {
            color: #999;
            font-size: 0.8em;
            margin-left: 0.75em;
            display: block;
        }

        .time + .bubble {
            margin-top: 0.5em;
        }

        .mine .time {
            margin-left: 0;
            margin-right: 0.75em;
        }

        .send-msg {
            position: fixed;
            bottom: 0;
            padding: 1em 0;
            width: 100%;
            background: white;
            border-top: 1px solid #DDD
        }

        form.container input {
            border: none;
            font: inherit;
            width: 100%;
            padding-right: 24px;
        }

        .btn-send {
            border: none;
            background: none;
            cursor: pointer;
            position: absolute;
            right: 20px;
            z-index: 3;
            fill: #3498db;
        }

        .btn-send svg {
            fill: inherit;
            vertical-align: middle;
            -webkit-transition: 180ms all;
                    transition: 180ms all;
        }

        .btn-send:hover, .btn-send:focus {
            fill: #2f90d2;
        }

        .btn-send:focus {
            outline: none;
        }

        .btn-send:active {
            fill: #308dcc;
        }

        .bubble.typing-indicator {
            padding: 0.75em 1em;
        }

        .typing-indicator span {
            height: 0.7em;
            width: 0.7em;
            float: left;
            margin: 0 1px;
            background-color: #9E9EA1;
            display: block;
            border-radius: 50%;
            opacity: 0.4;
        }
        .typing-indicator span:nth-of-type(1) {
            -webkit-animation: 1s blink infinite 0.3333s;
            animation: 1s blink infinite 0.3333s;
        }
        .typing-indicator span:nth-of-type(2) {
            -webkit-animation: 1s blink infinite 0.6666s;
            animation: 1s blink infinite 0.6666s;
        }
        .typing-indicator span:nth-of-type(3) {
            -webkit-animation: 1s blink infinite 0.9999s;
            animation: 1s blink infinite 0.9999s;
        }

        @-webkit-keyframes blink {
            50% {
                opacity: 1;
            }
        }

        @keyframes blink {
            50% {
                opacity: 1;
            }
        }

        @media screen and (min-width: 1200px) {

            .users-online {
                left: 0px;
                -webkit-transform: translateX(0);
                        transform: translateY(0);
            }

            .close, header .pull {
                display: none;
            }

            .container {
                max-width: 800px;
            }

            header {
                text-align: center;
            }

        }


block content
    // Spinner: http://tobiasahlin.com/spinkit/
    .spinner__container
        .spinner
            .double-bounce1
            .double-bounce2
    .login-wrapper
        form.login
            label Enter any username to continue
            .input-wrapper
                input(class="login-input", type="text", placeholder="Enter any username")
                button Join Chat
            .err.username-taken
                b Username Taken
            .err.username-invalid
                b Username Invalid
                | Username can only contain letters, numbers, underscores and dashes.
                br
                | Minimum length: 3
                br
                | Maximum length: 15
    header
        a(href="https://github.com/pratinav/pole-chat", target="_blank", title="GitHub"): b Pole Chat
        span.pull
            span.user-no
    .users-online
        div
            span.user-no
            svg.close(fill="#DCDCDC", height="24", viewbox="0 0 24 24", width="24", xmlns="http://www.w3.org/2000/svg")
                path(d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z")
                path(d="M0 0h24v24H0z", fill="none")

        .me
    ul.chatbox.container
    section.send-msg
        form.container
            input.msg(type="text", autocomplete="off", placeholder="Write something")
            button.btn-send
                svg(fill="#3498db", height="24", viewbox="0 0 24 24", width="24", xmlns="http://www.w3.org/2000/svg")
                    path(d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z")
                    path(d="M0 0h24v24H0z", fill="none")

    script(src="/socket.io/socket.io.js")
    script(src="/js/app.js")
    if !dev
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-78761313-2', 'auto');
            ga('send', 'pageview');