extends layout.pug

block styles
    link(rel='stylesheet', href='/css/main.css')

block content
    .login-wrapper
        h1 Pole Chat
        form.login
            label Enter any username to continue
            .input-wrapper
                input(type='text', placeholder='Enter any username')
                button Join Chat
            .err.username-taken
                b Username Taken
            .err.username-invalid
                b Username Invalid
                | Username can only contain letters, numbers, underscores and dashes.
                br
                | Minimum length: 3
                br
                | Maximum length: 15
    header
        b Pole Chat
        span.pull
            | View  
            span.user-no
    .users-online
        div
            span.user-no
            |  Online
            svg.close(fill='#DCDCDC', height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z')
                path(d='M0 0h24v24H0z', fill='none')
    ul.chatbox.container
    section.send-msg
        form.container
            input.msg(type='text', autocomplete='off', placeholder='Write something')
            button.btn-send
                svg(fill='#3498db', height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.01 21L23 12 2.01 3 2 10l15 2-15 2z')
                    path(d='M0 0h24v24H0z', fill='none')

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
    script(src='/js/app.js')
