doctype html
html(lang='en')
    head
        title Pole Chat
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
        meta(name="apple-mobile-web-app-capable", content="yes")
        link(rel="canonical", href="https://pole-chat.herokuapp.com/")
        meta(name='author', content='Pratinav Bagla')
        meta(name='description', content='A simple chat application built on NodeJS using Express and Socket.io')
        meta(name='keywords', content='chat, app, nodejs, express, socket.io')
        meta(property='og:url', content='https://pole-chat.herokuapp.com/')
        meta(property='og:title', content='Pole Chat')
        meta(property='og:site_name', content='Pole Chat')
        meta(property='og:description', content='A simple chat application built on NodeJS using Express and Socket.io')
        meta(name="theme-color", content="#308dcc")
        meta(name="msapplication-navbutton-color", content="#308dcc")
        meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
        block styles

    body
        block content
